/******** GOOGLE FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    /********* COLORS **********/
    /* PRIMARY */
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --light-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);

    /* NEUTRAL */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    /* TEXT */
    --text-color: #dfdbff;

    /* SHADOW */
    --shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .2);

}

/* OVERRIDE DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    transition: .4s all ease;
}

body {
    background: var(--very-dark-blue);
}

/* STYLING FOR CONTAINER */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: auto;
    margin-top: 9%;
}

/****** STYLING FOR REPORT SECTION  ******/
.report-profile {
    text-align: left;
    background: var(--dark-blue);
    border-radius: 21px;
    box-shadow: var(--shadow);
}

.credentials {
    background: var(--blue);
    padding: 1.5rem;
    padding-bottom: 5rem;
    color: var(--text-color);
    border-radius: 21px;
}

/******* STYLING FOR PROFILE IMAGE ********/
.profile-img {
    width: 30%;
    border-radius: 50%;
    border: 2px solid var(--pale-blue);
    margin-bottom: 2rem;
}

.title {
    font-size: .9rem;
    font-weight: 400;
    opacity: .7;
}

.profile-name {
    font-size: 1.8rem;
    font-weight: 400;
}

/****** STYLING FOR REPORT CATEGORIES *******/
.category {
    font-size: 18px;
}

.categories {
    padding: 1.5rem;
    font-size: .8rem;
    list-style: none;
}

.stat-category {
    padding-bottom: .8rem;
    color: #9e9bad;
    cursor: pointer;
}

.is-active {
    color: var(--text-color);
}

.stat-category:hover {
    color: var(--text-color);
}

/***** STYLING FOR STATS SECTION *****/
.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

/******* BACKGROUNG CARD ICONS ********/
.bg-img {
    position: relative;
    right: -120px;
    width: 30%;
    margin-bottom: -1rem;
    z-index: 1;
}

.card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 21px;
    color: var(--text-color);
    box-shadow: var(--shadow);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.ellipsis {
    width: 30%;
    margin-left: 2.5rem;
}

/******** CARD COLORS *********/
.work {
    background: var(--light-red-work);
}

.play {
    background: var(--soft-blue-play);
}

.study {
    background: var(--light-red-study);
}

.exercise {
    background: var(--light-green-exercise);
}

/**** FIX ALIGNMENT ISSUES *****/

.workout-icon {
    padding-top: 1rem;
}

.message-bubble-icon {  
    padding-top: -11rem;
}

/******************************************/

.social {
    background: var(--violet-social);
}

.self-care {
    background: var(--soft-orange-self-care);
}

/* STYLING FOR STAT CARD  */
.stat-card {
    background: var(--dark-blue);
    padding: 1.5rem;
    border-radius: 21px;
    position: relative;
    z-index: 1;
}

.stat-card:hover {
    background: #34397b;
}

.stats {
    display: block;
}

.category {
    font-size: .8rem;
}

.hours {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: .6rem;
}

.history {
    font-size: .7rem;
}

.social-card {
    margin-top: -1rem;
}